<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Edith Clarke</title>
</head>
<body>
    <header>
        <h1>DH Heroes y Heroinas</h1>    
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners Lee</a></li>
                <li><a href="/clarke">Edith Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h1>Edith Clarke</h1>
        <p>Edith Clarke [Maryland (Estados Unidos), 1883 – Maryland (1959]. Ingeniera y profesora estadounidense. Primera mujer en obtener una Maestría en Ingeniería Eléctrica en el MIT, en ejercer la docencia universitaria de esta materia y en ser nombrada Fellow de la AIEE (en la actualidad IEEE). Su dominio de la matemática aplicada fue una gran aportación para el complejo diseño y la operación de sistemas de potencia. Sus libros han servido como texto en las Escuelas de Ingeniería Eléctrica y de referencia para las empresas de ese sector.</p>
        <img src="/img/Clarke.jpg" alt="Clarke">
        <a href="https://forohistorico.coit.es/index.php/personajes/personajes-internacionales/item/clarke-edith" target="_blank">Leer más...</a>
    </main>    
</body>
</html>